<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Alienware_Plug_Ins">
      <section name="PlugIns" type="AlienLabs.CommandCenter.Domain.PlugInConfigurationSection, CommandCenterDomain"/>
    </sectionGroup>
  </configSections>
  <Alienware_Plug_Ins>
    <PlugIns>
      <!--<PlugIn name="Thermal Controls" type="AlienLabs.ThermalControls.App.ThermalControlsPlugIn, ThermalControls"/>
      <PlugIn name="AlienFX" type="AlienLabs.AlienFX.Editor.Classes.PlugIn.AlienFXPlugIn, AlienwareAlienFXEditor"/>
      <PlugIn name="AlienFusion" type="AlienLabs.AlienFusion.Classes.PlugIn.AlienFusionPlugIn, AlienFusion"/>
      <PlugIn name="AlienTouch" type="AlienLabs.TouchPad.App.TouchpadPlugIn, AlienTouch"/>
      <PlugIn name="AlienSense" type="AlienSense.AlienSensePlugIn, AlienSense"/>
      <PlugIn name="Alienware TactX" type="AlienLabs.TactX.Classes.PlugIn.TactXPlugInClass, AlienLabs.TactX"/>
      <PlugIn name="AlienAdrenaline" type="AlienLabs.AlienAdrenaline.App.AlienAdrenalinePlugIn, AlienAdrenaline"/>
      <PlugIn name="HDMI-In" type="AlienLabs.HDMIIn.App.Classes.PlugIn.HDMIInPlugIn, HDMIIn"/>
      <PlugIn name="OC Controls" type="MsiLabs.CommandCenter.Class.OCPlugIn, OCControls"/>-->      
    </PlugIns>
  </Alienware_Plug_Ins>

  <appSettings>
    <add key="Culture" value=""/>
    <add key="SupportSiteUrl" value="http://support.dell.com/support/index.aspx?c=us&amp;l=en&amp;s=dhs"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
